<div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="whiteBackgroundForDisibilityInsurance" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="navBar fullWidth" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
              <div fxLayout="column wrap" class="navBarItems" fxFlex="30" fxLayoutAlign="center start" [fxShow]="true" fxHide.xs="true">
                <mat-icon style="color: white;">home</mat-icon>
              </div>
              <div fxLayout="column wrap" class="navBarItems" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Icons/Picture 1.png" width="250px"></div>
              <div fxLayout="column wrap" class="navBarItems" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" fxHide.xs="true">
                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/reload.png"></div>
                  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
                    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center" [fxShow]="true">
                      <div>
                        <p class="disibilityNavText">John Smith</p>
                      </div>
                      <div class="disibilityNavInitialsBackground">
                        <p class="disibilityNavInitialsLetters">JS</p>
                      </div>
                      <mat-icon class="dropDownIcons">arrow_drop_down</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginTop20 disibilityInsuranceScroll fullWidth" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" style="    margin-top: 25px;" fxFlex="42" fxLayoutAlign="center stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="marginBottom10 marginBottom50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <div>
                  <p class="summaryText">Summary for Disabilty Insurance</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="greyBox marginBottom50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="marginBottom20 marginTop20" fxFlex="89" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="priceDetailsText">Price Details (Disability)</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="brochureText">Brochure</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="reccomendedOptionsGreyText">Benefit Amount</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="underBrochureText">$1,200</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="reccomendedOptionsGreyText">Benefit Period</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="underBrochureText">5 years</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="reccomendedOptionsGreyText">Waiting Period</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="underBrochureText">30 days</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="monthlyPremiumText">Monthly Premium</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="monthlyPremiumPrice">$17</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="boarderTopGrey1px fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="reccomendedOptionsGreyText">Other Plans</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div fxLayout="row wrap" class="orangeBG" fxLayoutGap="10px" fxLayoutAlign="space-around center" [fxShow]="true">
                      <mat-icon class="helpIcon">help_outline</mat-icon>
                      <div>
                        <p class="orangeText">Well-Being</p>
                      </div>
                      <mat-icon class="crossCircleIcon">highlight_off</mat-icon>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start end" [fxShow]="true">
                    <div>
                      <p class="brochureText">Brochure</p>
                    </div>
                    <div>
                      <p class="reccomendedOptionsGreyText">$14.95 / month</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div fxLayout="row wrap" class="orangeBG" fxLayoutGap="10px" fxLayoutAlign="space-around center" [fxShow]="true">
                      <mat-icon class="helpIcon">help_outline</mat-icon>
                      <div>
                        <p class="orangeText">Safeguard (Individual Plan)</p>
                      </div>
                      <mat-icon class="crossCircleIcon">highlight_off</mat-icon>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true">
                    <div>
                      <p class="brochureText">Brochure</p>
                    </div>
                    <div>
                      <p class="reccomendedOptionsGreyText">$16.95 / month</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="row wrap" class="boarderTopGrey1px fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="totalText">Total</p>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      <p class="totalBigText">$56.90 / month</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" class="footer" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="footerHeight marginRight35" fxLayoutGap="20px" fxLayoutAlign="end center" [fxShow]="true">
              <div fxLayout="column wrap" class="navBarButton" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button routerLink="/home/reccomended-options">&#x2190; Back</button></div>
              </div>
              <div fxLayout="column wrap" class="summaryCheckMyPriceButton" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button routerLink="/home/404">Apply Now &#x2192;</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="marginTop30" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <p class="disclaimerheading">Disclaimer</p><br>
          <p class="disclaimerText">Woligo is the marketing name of CamSolutions, LLC, an Oklahoma corporation. CamSolutions, LLC is a licensed independent insurance broker. CamSolutions, LLC operates in California as Woligo Insurance Solutions with the California license number (6002977) and is also licensed in Oklahoma (30009078&#x200A;1), Arizona (3000982823), and Texas (2572693). Other state insurance license numbers available on request. <span style="color: #1273A2">Read More</span></p>
        </div>
      </div>
    </div>
  </div>
</div>