<div fxLayout="column wrap" class="whiteBackgroundForSummary" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="navBar fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="navBarItems" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Icons/Picture 1.png" width="250px"></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginTop20 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/404.png" class="marginTop100">
      <div class="marginTop50">
        <p class="pageNotFoundMessage">Oops! Page Not Found</p>
      </div>
      <div fxLayout="column wrap" class="marginTop50 summaryCheckMyPriceButton" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button routerLink="/home/register">Back to Home Page</button></div>
      </div>
      <div fxLayout="row wrap" class="fullWidth marginTop50" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="footer" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" class="footerHeight marginRight35" fxLayoutGap="20px" fxLayoutAlign="center center" [fxShow]="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>