<div fxLayout="column wrap" class="whiteBackgroundForRegister" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="navBar fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" class="navBarItems-xs" fxFlex="10" fxLayoutAlign="center start" [fxShow]="true">
          <mat-icon fxShow.xs="true" fxHide="true">menu</mat-icon>
        </div>
        <div fxLayout="column wrap" class="navBarItems" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Icons/Picture 1.png" width="250px"></div>
        <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start end" [fxShow]="true" fxHide.xs="true"><img imgSrc="/Web/Downloaded images/reload.png"></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginTop50 mainBox marginBottom50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="350px" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" style="height:63px" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true"></div>
          <div fxLayout="row wrap" class="marginBottom20 fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start start" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="welcomeToWoligoText">Welcome to Woligo!</p>
                </div><img imgSrc="/Web/Downloaded images/wave.png" width="20px">
              </div>
              <div>
                <p class="provideYourInformationToRegisterText">Please provide your information to register your account</p>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
              <form [formGroup]="page.loginForm">
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div>
                    <p class="inputMessageText">Username</p>
                  </div>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput placeholder="e.g johnsmith@gmail.com" [required]="false" formControlName="email">

                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                    <div>
                      <p class="inputMessageText">Password</p>
                    </div>
                    <div>
                      <p class="inputMessageText"><span style="color: #0D6EFD">Forgot Password?</span></p>
                    </div>
                  </div>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput type="password" placeholder="Password" [required]="false" formControlName="password">

                  </mat-form-field>
                  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true">
                    <mat-checkbox [required]="false"></mat-checkbox>
                    <div>
                      <p class="inputMessageText">Remember information</p>
                    </div>
                  </div>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
                      <div fxLayout="row wrap" class="marginBottom20 marginTop20" fxLayoutAlign="center center" [fxShow]="true"><button mat-button class="nextButton" (click)="logForm()" [disabled]="page.loginForm.invalid" routerLink="/home/disibility-module/three">Login &#x2192;</button></div>
                      <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center stretch" [fxShow]="true">
                        <div>
                          <p class="alreadyHaveAnAccountText">New to Woligo?</p>
                        </div>
                        <div>
                          <p class="loginText">Create an Account</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><img imgSrc="/Web/Downloaded images/topLeftVector.png" class="topLeftBGImage"><img imgSrc="/Web/Downloaded images/bottomLeftVector.png" class="bottomLeftBGImage"><img imgSrc="/Web/Downloaded images/bottomRightVector.png" class="bottomRightBGImage"><img imgSrc="/Web/Downloaded images/topRightVector.png" class="topRightBGImage">
  </div>
</div>