<div fxLayout="row wrap" style="margin-top:200px" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true">
    <div>
      <p class="datePickerText">Please wait while we check your price</p>
    </div>
    <div>
      <p style="font-weight: 500; font-size: 23px; line-height: 31px; color: #BABFC7; text-align: center;">Here are some of our favourite dad jokes while you wait...</p>
    </div>
    <div>
      <p style="font-weight: 500; font-size: 23px; line-height: 31px; color: #1273A2; text-align: center;">Joke here</p>
    </div>
    <div fxLayout="row wrap" class="marginTop20 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="325px" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-progress-bar [mode]></mat-progress-bar>
      </div>
    </div>
  </div>
</div>