<div fxLayout="column wrap" class="whiteBackgroundForRegister" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="navBar fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" class="navBarItems-xs" fxFlex="10" fxLayoutAlign="center start" [fxShow]="true">
          <mat-icon fxShow.xs="true" fxHide="true">menu</mat-icon>
        </div>
        <div fxLayout="column wrap" class="navBarItems" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Icons/Picture 1.png" width="250px"></div>
        <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start end" [fxShow]="true" fxHide.xs="true"><img imgSrc="/Web/Downloaded images/reload.png"></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginTop100 mainBox marginBottom50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="column wrap" class="circle1" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div>
                    1</div>
                </div>
                <div fxLayout="column wrap" class="paddingForHorizontalLine" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                <div fxLayout="column wrap" class="circle2" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div>
                    2</div>
                </div>
              </div>
              <div fxLayout="row wrap" class="marginTop10" fxLayoutGap="70px" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="stepperTextOne">Basic Details</p>
                </div>
                <div>
                  <p class="stepperTextTwo">Password Setup</p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" class="marginBottom20 fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start start" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="welcomeToWoligoText">Welcome to Woligo!</p>
                </div><img imgSrc="/Web/Downloaded images/wave.png" width="20px">
              </div>
              <div>
                <p class="provideYourInformationToRegisterText">Please provide your information to register your account</p>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
              <form [formGroup]="page.registerForm">
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div>
                    <p class="inputMessageText">Email ( Recovery email address ) <span style="color: red">*</span></p>
                  </div>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput type="email" placeholder="e.g johnsmith@gmail.com" [required]="false" formControlName="email">

                  </mat-form-field>
                  <div>
                    <p class="inputMessageText">This will be used to reset password</p>
                  </div>
                </div>
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="space-between stretch" [fxShow]="true">
                    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
                      <div>
                        <p class="inputMessageText">First Name <span style="color: red">*</span></p>
                      </div>
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                        <input matInput type="text" placeholder="Enter Name" [required]="true" formControlName="firstName">

                      </mat-form-field>
                    </div>
                    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
                      <div>
                        <p class="inputMessageText">Last Name <span style="color: red">*</span></p>
                      </div>
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                        <input matInput type="text" placeholder="Enter Name" [required]="true" formControlName="lastName">

                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-radio-group formControlName="gender" [required]="false">
                    <div fxLayout="row wrap" style="height: 70px;" fxLayoutGap="16px" fxLayoutAlign="space-between end" [fxShow]="true">
                      <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="end stretch" [fxShow]="true">
                        <div>
                          <p class="inputMessageText">Gender at birth *</p>
                        </div>
                        <div fxLayout="row wrap" class="fullWidth genderBoarder" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true" [ngClass]="{&apos;selectedGenderBoarder&apos;:page.selectedMale}">
                          <mat-radio-button [required]="false" value="&apos;Male&apos;" (change)="selectMale()"></mat-radio-button><img imgSrc="/Web/Downloaded images/orangeMale.png" *ngIf="page.selectedMale" width="27px"><img imgSrc="/Web/Downloaded images/Male.png" *ngIf="!page.selectedMale" width="27px">
                          <div>
                            <p class="genderText">Male</p>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column wrap" style="margin-top: 15px;" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
                        <div fxLayout="row wrap" class="fullWidth genderBoarder" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true" [ngClass]="{&apos;selectedGenderBoarder&apos;:page.selectedFemale}">
                          <mat-radio-button [required]="false" value="&apos;Female&apos;" (change)="selectFemale()"></mat-radio-button><img imgSrc="/Web/Downloaded images/orangeFemale.png" *ngIf="page.selectedFemale" width="27px"><img imgSrc="/Web/Downloaded images/Female.png" *ngIf="!page.selectedFemale" width="27px">
                          <div>
                            <p class="genderText">Female</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
                <div fxLayout="column wrap" class="marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="space-between stretch" [fxShow]="true">
                    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
                      <div>
                        <p class="inputMessageText">Date of Birth <span style="color: red">*</span></p>
                      </div>
                      <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;">
                        <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" formControlName="dob" [required]="true" [disabled]="true">
                        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                        <mat-datepicker #picker [disabled]="false"></mat-datepicker>

                      </mat-form-field>
                    </div>
                    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
                      <div>
                        <p class="inputMessageText">State <span style="color: red">*</span></p>
                      </div>
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="state" placeholder="Select" [required]="false">
                          <ng-template ngFor let-option [ngForOf]="page.stateOptions" let-i="index">
                            <mat-option [value]="option.name">{{option.name}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center stretch" [fxShow]="true">
                <div>
                  <p class="alreadyHaveAnAccountText">Already have an account?</p>

                </div>
                <div>
                  <p class="loginText">Login</p>
                </div>
              </div>
              <div fxLayout="row wrap" class="marginTop20" fxLayoutAlign="center center" [fxShow]="true"><button mat-button class="nextButton" (click)="logForm()" [disabled]="page.registerForm.invalid" routerLink="/home/password-setup">Next &#x2192; </button></div>
            </div>
          </div>
        </div>
      </div>
    </div><img imgSrc="/Web/Downloaded images/topLeftVector.png" class="topLeftBGImage"><img imgSrc="/Web/Downloaded images/bottomLeftVector.png" class="bottomLeftBGImage"><img imgSrc="/Web/Downloaded images/bottomRightVector.png" class="bottomRightBGImage"><img imgSrc="/Web/Downloaded images/topRightVector.png" class="topRightBGImage">
  </div>
</div>