<div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" class="disibilityModuleBodyHeight" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="DMHeightWithoutFooter fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="marginTop50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
            <div>
              <p style="font-size: 16px; font-weight: 400; color: #BABFC7; line-height: 20.8px;">Selected Plan</p>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutGap="15px" fxLayoutAlign="center center" [fxShow]="true">
              <div>
                <p style="font-weight: 500; font-size: 24px; line-height: 31.2px;">Disability Insurance</p>
              </div><img imgSrc="/Web/Downloaded images/orangeEdit.png">
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginBottom20 marginTop20" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
              <div fxLayout="column wrap" class="circle1" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  1</div>
              </div>
              <div fxLayout="column wrap" class="paddingForHorizontalLine" fxLayoutAlign="start stretch" [fxShow]="true"></div>
              <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
              <div fxLayout="column wrap" class="circle2" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  2</div>
              </div>
              <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
              <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
              <div fxLayout="column wrap" class="circle2" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  3</div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginTop30 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
            <div>
              <p style="font-weight: 500; font-size: 24px; line-height: 31.2px;">How can we help you?</p>
            </div>
            <div>
              <p style="font-size: 16px; font-weight: 400; color: #BABFC7; line-height: 20.8px;">Select all that apply</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginBottom20 marginTop20 disibilityChildCom fullWidth" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" style="height: 60px;" class="marginTop20 marginBottom20" fxLayoutAlign="start center" [fxShow]="true" (click)="toggleFamilyImage()"><img imgSrc="Web/Downloaded images/family.png" *ngIf="!page.familySelected" class="fitContent"><img imgSrc="Web/Downloaded images/colorFamily.png" *ngIf="page.familySelected" class="fitContent"></div>
            <div fxLayout="row wrap" style="height: 50px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p class="bodyText">I need to protect my income or family</p>
              </div>
            </div>
            <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-checkbox (change)="toggleFamilyImage()" [required]="false"></mat-checkbox>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" style="height: 60px;" class="marginTop20 marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="Web/Downloaded images/health.png" class="fitContent"></div>
            <div fxLayout="row wrap" style="height: 50px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p class="bodyText">I need health insurance</p>
              </div>
            </div>
            <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-checkbox [required]="false"></mat-checkbox>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" style="height: 60px;" class="marginTop20 marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="Web/Downloaded images/business.png" class="fitContent"></div>
            <div fxLayout="row wrap" style="height: 50px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p class="bodyText">I need to protect my business</p>
              </div>
            </div>
            <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-checkbox [required]="false"></mat-checkbox>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginTop100 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
            <div>
              <p style="font-weight: 500; font-size: 18px; line-height: 23.4px;">Not sure?</p>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
              <div>
                <p style="font-size: 16px; font-weight: 500; color: #1273A2; line-height: 20.8px;">I need advice</p>
              </div>
              <mat-icon class="iNeedAdviceIcon" color="#1273A2">help_outline</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="footer footerHeight fullWidth" fxLayoutAlign="end center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center end" [fxShow]="true">
        <div fxLayout="row wrap" class="fullWidth" fxLayoutGap="20px" fxLayoutAlign="end center" [fxShow]="true">
          <div fxLayout="column wrap" class="navBarButton" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button routerLink="/home/password-setup">&#x2190; Back</button></div>
          </div>
          <div fxLayout="column wrap" class="marginRight35 footerNextButton" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button [disabled]="!page.familySelected" routerLink="/home/disibility-module/four">Next &#x2192;</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>