<div fxLayout="column wrap" class="footer" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="footerHeight marginRight35" fxLayoutGap="20px" fxLayoutAlign="end center" [fxShow]="true">
    <div fxLayout="column wrap" class="navBarButton" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
        <mat-icon>arrow_back</mat-icon><button mat-button>Back</button>
      </div>
    </div>
    <div fxLayout="column wrap" class="footerNextButton" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button (click)="date_pick_route()">Next</button>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </div>
</div>