<div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
  <div fxLayout="column wrap" class="navBarItems-xs" fxFlex="10" fxLayoutAlign="center start" [fxShow]="true">
    <mat-icon fxShow.xs="true" fxHide="true">menu</mat-icon>
  </div>
  <div fxLayout="column wrap" class="navBarItems" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Icons/Picture 1.png" width="250px"></div>
  <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start end" [fxShow]="true" fxHide.xs="true">
    <mat-icon fxHide.xs="true">refresh</mat-icon>
  </div>
</div>