<div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <form [formGroup]="page.jobsCategory" class="fullWidth">
    <mat-radio-group class="fullWidth" formControlName="category" [required]="false">
      <div fxLayout="column wrap" class="categoryBodyHeight" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="height: 682px;, overflow-y: auto;" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" style=" overflow-y: auto;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="marginTop50 marginBottom20" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
                  <div fxLayout="column wrap" class="circle1" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      1</div>
                  </div>
                  <div fxLayout="column wrap" class="paddingForHorizontalLine" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                  <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                  <div fxLayout="column wrap" class="circle2" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      2</div>
                  </div>
                  <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                  <div fxLayout="column wrap" class="paddingForHorizontalLineTwo" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                  <div fxLayout="column wrap" class="circle2" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div>
                      3</div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="marginTop30 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div>
                  <p style=" font-weight: 500; font-size: 24px; line-height: 31px; text-align: center; color: #000000;">How would you categorize your current job? *</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" style="height: 250px;" class="marginBottom20 marginTop20 fullWidth" fxLayoutAlign="center start" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="210px" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="row wrap" style="height: 60px;" class="marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/professional.png" *ngIf="!page.professionalSelected" class="fitContent"><img imgSrc="/Web/Downloaded images/colourProfessional.png" *ngIf="page.professionalSelected" class="fitContent"></div>
                <div fxLayout="row wrap" class="heightForTextCatagory" fxLayoutAlign="center start" [fxShow]="true">
                  <div style="text-align: center;">
                    <p style="color: #B9B9C3"><span style="color: #5E5873">Professional</span><br>Office job with few hazards.<br>Examples: Accountant, <br>Pharmacist, Software <br>Engineer</p>
                  </div>
                </div>
                <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-radio-button [required]="false" value="Professional" (change)="professionalSelected()"></mat-radio-button>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="210px" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="row wrap" style="height: 60px;" class="marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/tooth.png" class="fitContent"></div>
                <div fxLayout="row wrap" class="heightForTextCatagory" fxLayoutAlign="center start" [fxShow]="true">
                  <div style="text-align: center;">
                    <p style="color: #B9B9C3"><span style="color: #5E5873">Technical</span><br>Similar to professional, but<br>with some hazards.<br>Examples: Salesperson, <br>Dental Hygienist, Lab Tech</p>
                  </div>
                </div>
                <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-radio-button [required]="false" value="Technical" (change)="tehnicalSelected()"></mat-radio-button>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="210px" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="row wrap" style="height: 60px;" class="marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/gear.png" class="fitContent"></div>
                <div fxLayout="row wrap" class="heightForTextCatagory" fxLayoutAlign="center start" [fxShow]="true">
                  <div style="text-align: center;">
                    <p style="color: #B9B9C3"><span style="color: #5E5873">Light Labor</span><br>Skilled / manual jobs<br>Examples: Auto Mechanic,<br>Carpenter, Landscaper</p>
                  </div>
                </div>
                <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-radio-button [required]="false" value="Light Labor" (change)="lightLaborSelected()"></mat-radio-button>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="210px" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="row wrap" style="height: 60px;" class="marginBottom20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/driver.png" class="fitContent"></div>
                <div fxLayout="row wrap" class="heightForTextCatagory" fxLayoutAlign="center start" [fxShow]="true">
                  <div style="text-align: center;">
                    <p style="color: #B9B9C3"><span style="color: #5E5873">Labor</span><br>Heavier or skilled manual<br>labor jobs with more hazards.<br>Examples: Rideshare Driver,<br>Roofer</p>
                  </div>
                </div>
                <div fxLayout="row wrap" style="height: 20px;" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-radio-button [required]="false" value="Labor" (change)="labourSelected()"></mat-radio-button>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" style="height:90px" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true" *ngIf="page.showJobInput">
                <div>
                  <p style=" font-weight: 500; font-size: 24px; line-height: 31px; text-align: center; color: #000000;">What is your current job title? *</p>
                </div>
                <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput placeholder="Enter the job title" [required]="false" formControlName="jobInput">

                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" class="marginTop50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div>
                  <p style="font-weight: 500; font-size: 18px; line-height: 23.4px;">Not sure?</p>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
                  <div>
                    <p style="font-size: 16px; font-weight: 500; color: #1273A2; line-height: 20.8px;">I need advice</p>
                  </div>
                  <mat-icon class="iNeedAdviceIcon" color="#1273A2">help_outline</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="footer footerHeight fullWidth" fxLayoutAlign="end center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center end" [fxShow]="true">
            <div fxLayout="row wrap" class="fullWidth" fxLayoutGap="20px" fxLayoutAlign="end center" [fxShow]="true">
              <div fxLayout="column wrap" class="navBarButton" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button routerLink="/home/disibility-module/date">&#x2190; Back</button></div>
              </div>
              <div fxLayout="column wrap" class="marginRight35 footerNextButton" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button (click)="logForm()" [disabled]="page.jobsCategory.invalid" routerLink="/home/disibility-module/full-time">Next &#x2192;</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-radio-group>
  </form>
</div>